:root {
  /* Primary colors */
  --primary: #CC3333;
  --primary-extra-light: #fccdd2;
  --primary-medium: #e85553;
  --primary-dark: #b02321;


  /* Secondary colors */
  --secondary: #33cccc;
  --secondary-light: #ade9e7;
  --secondary-extra-light: #def7f5;
  --secondary-dark: #00b7be;

  /* Neutral colors */
  --neutral-black: #030302;
  --neutral-gray: #f5f3f2;
  --neutral-gray-light: #e7e6e5;
  --neutral-gray-medium: #bdbab9;
  --neutral-gray-dark: #817c79;
  --neutral-gray-darkest: #575452;
  --neutral-gray-dark: #817c79;
  --neutral-gray-medium: #bdbab9;
  --neutral-gray-light: #e7e6e5;
  --neutral-white: #fdfcfc;

  /* Background colors */
  --background-light: #002538;

  /* Shadows */
  --shadow-light: 0px 4px 16px 0px rgba(87, 84, 82, 0.1);
  --shadow-medium: 0px 8px 24px 0px rgba(87, 84, 82, 0.12);

  /* Gradient */
  --gradiente-light: linear-gradient(90deg, #fccdd2 -63.31%, #ade9e7 114.71%);
}
