.slideshowContainer {
    position: relative;
    width: 32rem;
    height: 32rem;
}
  
.slideshowImage {
    position: absolute;
    width: 100%;
    height: auto;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.active {
    opacity: 1;
}