.begin {
  padding-top: 2rem;
  background-color: var(--neutral-white);
}

.layout_begin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -8rem;
}

.layout_begin img {
  width: 22rem;
  height: 22rem;
  margin-bottom: -10rem;
}

.text {
  color: var(--neutral-black);
  width: 100%;
}

.text h1 {
  max-width: 20ch;
  margin-inline: auto;
}

.description {
  margin-top: 2rem;

  font-size: var(--fs-4);
  font-weight: var(--fw-400);

  line-height: 1.35;
  opacity: 0.87;
  max-width: 50ch;
  margin-inline: auto;
}

@media (min-width: 48em) {
  .begin {
    padding-bottom: 1rem;
  }

  .layout_begin {
    flex-direction: row;
    margin-bottom: -9rem;
  }

  .layout_begin img {
    width: 20rem;
    height: 20rem;
  }

  .text {
    width: 100%;
    max-width: 29.375rem;
  }
}

@media (min-width: 80em) {
  .begin {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .layout_begin {
    flex-direction: row;
    align-items: center;
    gap: 1.875rem;
    height: 38rem;
    margin-bottom: -8rem;
  }
  
  .layout_begin img {
    width: 27.15rem;
    height: 27.15rem;
  }

  .text {
    width: 40%;
  }

  .description {
    font-size: var(--fs-5);
    line-height: 1.5rem;
    opacity: 0.6;
  }
}
